<%- include('../includes/head.ejs') %>
  </head>
  <body>
    <%- include('../includes/navigation.ejs') %>

    <main>
      <main class="centered">
        <p>Student Name : <%= user.name %></p>
        <hr>
        <p>Student Nim : <%= user.nim %></p>
        <hr>
        <p>Student Address : <%= user.address %></p>
        <hr>
        <a class="btn" href="/">Back To Home</a>
      </main>
    </main>
<%- include('../includes/end.ejs') %>
