<%- include('../includes/head.ejs') %>
  </head>
  <body>
    <%- include('../includes/navigation.ejs') %>
    <main>
      <h1>Detail Teacher :</h1>
      <p>Name: <%= teacher.name %></p>
      <p>Nim:<%= teacher.nim %></p>
      <p>Address:<%= teacher.address %></p>
      <a href="/teacher/teacher">Back To List</a>
      <form action="/teacher/delete-teacher" method="POST">
        <input type="hidden" value="<%= teacher._id %>" name="id" id="id">
        <button type="submit">Delete Teacher</button>
      </form>
      <a href="/teacher/edit-teacher/<%= teacher._id %>?edit=true">Edit Teacher</a>
    </main>
<%- include('../includes/end.ejs') %>
