<%- include('../includes/head.ejs') %>
  </head>
  <body>
    <%- include('../includes/navigation.ejs') %>

    <main>
      <main class="centered">
        <p>Student Name : <%= user.name %></p>
        <hr>
        <p>Student Nim : <%= user.nim %></p>
        <hr>
        <p>Student Address : <%= user.address %></p>
        <hr>
        <a class="btn" href="/student/student">Back To Home</a>
        <form action="/student/delete-student" method="POST">
          <input type="hidden" value="<%= user.id %>" name="id" id="id">
          <button type="submit">Delete Student</button>
        </form>
      </main>
    </main>
<%- include('../includes/end.ejs') %>
