<%- include('../includes/head.ejs') %>
  </head>
  <body>
    <%- include('../includes/navigation.ejs') %>
    <main>
      <div>
        <%- include('../includes/add.ejs', {
         addNewTitle: addNewTitle
        }) %>
      </div>
      <h1>Student List :</h1>

      <% if (students) { %>
         <ul>
            <% students.forEach((student) => { %>
               <li> 
                  <p>Name: <%= student.name %></p>
                  <p>Nim:<%= student.nim %></p>
                  <p>Address:<%= student.address %></p>
                  <form action="/student/student/<%= student.id %>" method="POST">
                      <button type="submit">Details Stundent</button>
                  </form>
               </li>
            <% }); %> 
           </ul>
      <% } %>
    </main>
<%- include('../includes/end.ejs') %>
